/* STYLES fOR INTERNAL PAGES and OUR DOCTORS */

.internal_wrapper {

  .internal_heading {
    min-height: 500px;

    .header_image {
      background-position: right !important;
      min-height: 500px;
      position: absolute;
      width: 100%;
    } 

    h1 {
      margin: 230px 0 0 8%;

      @media screen and (max-width: $lg-breakpoint){
        color: $color-white;
        margin: 80px 0 0 8%;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      }

      @media screen and (max-width: $md-breakpoint){
        font-size: 3em;
      }
    }


    img {
      position: absolute;
      width: 100%;
    }

    .page-title {
      position: absolute;
      z-index: 2;
    }
  }

  #saveForm {
      background: red !important;
    }

  .internal_content_wrapper {
    min-height: 600px;
    max-width: $content-max-width;
    padding: 80px 0;
  }

  .drs-bg {
    width: 100%;
    background-image: url('../images/internal-bg.png');
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 200px;

    h2 {
      margin: 0;
    }

    h3, h4 {
      margin: 8px 0 20px 2px;
    }

    .container {
      margin: 0 auto;
      max-width: $content-max-width;
      padding: 30px;
      text-align: center;

      img {
        @media screen and (max-width: $md-breakpoint){
          height: auto;
          width: 85%;
        }
      }
    }

    .click-below {
      margin-top: 30px;
      text-align: center;
    }
  }

  .drs-bios {
    max-width: $content-max-width;

    >div {
      display: none;
    }
  }

  .doctor-pictures {
    margin-top: 20px;

    >div {
      cursor: pointer;

       * {
        pointer-events: none;
       }
    }
  }

  .image-row {
      align-items: center;
      display: flex;
      justify-content: center;
      //padding-bottom: 200px;
      text-align: center;

      @include flex-col-layout();

      >div {
        margin: 10px 20px;
        max-width: 376px;
        position: relative;

        &:hover {
          
          .info {
            opacity: 1;
          }
        }
      }

      .info {
        background: rgba(255,178,50,0.6) no-repeat scroll 0 0;
        cursor: pointer;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: opacity .5s ease-out;

        h3, p {
          color: $color-white;
          margin: 0;
        }

        h3 {
          font-size: 2em;
          margin-top: 120px;
        }

        i {
          color: $color-white;
          font-size: 2em;
          position: absolute;
          bottom: 30px;
          right: 30px;
        }
      }
    }

    .sidebar_container {
      color: black;
      float: left;
      font-weight: 800;
      padding-left: 3%;
      position: relative;
      height: 100%;
      width: 28%;

      ul {
        font-size: 1.1em;

        li {
          margin-bottom: 7px;
        }
      }

      a {
        color: $color-medium-blue;
        line-height: 20px;
        text-decoration: none;

        &:hover {
          color: $color-dark-blue;
        }
        &:focus {
          outline: none;
        }
      }

      h2 {
        font-size: 20px;
        margin-top: 0px;
        color: black;
      }

      @media screen and (max-width: $lg-breakpoint){
        display: none;
        float: none;
        margin-top: 50px;
        width: 100%;
      }

      .nav-dropdown {

        ul {
          list-style-type: disc;
          margin-left: 30px;

          @media screen and (max-width: $lg-breakpoint){
            display: none;
          }
        }
      }
    }

    .internal_content_container {
      float: right;
      border-left: black 1px solid;
      margin-bottom: 50px;
      min-height: 500px;
      padding: 0 10% 60px 5%;
      position: relative;
      width: 70%;

      h2 {
        margin: 0 0 8px;
      }

      h3 {
        color: $color-medium-blue;
        font-size: 24px;
        margin: 30px 0 8px;
      }

      @media screen and (max-width: $lg-breakpoint){
        border-left: 0;
        float: none;
        padding: 0 30px;
        width: 100%;
      }

      i {
        color: black;
        font-size: 1.5em;
        margin-right: 5px;
      }
    }
}

