/* STYLES fOR INTERNAL PAGES and OUR DOCTORS */

.internal_wrapper {

  .internal_heading {
    min-height: 500px;

    .header_image {
      border-bottom: 10px solid $color-yellow;
      position: absolute;
      min-height: 500px;
      width: 100%;
    } 

    h1 {
      margin: 230px 0 0 8%;
    }

    img {
      position: absolute;
      width: 100%;
    }

    .page-title {
      position: absolute;
      z-index: 2;
    }
  }

  .internal_content {
    max-width: $content-max-width;
    padding: 80px 0;
  }

  .drs-bg {
    width: 100%;
    background-image: url('../images/internal-bg.png');
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 200px;
  }

  .drs-bios {
    max-width: $content-max-width;

    >div {
      display: none;
    }
  }

  .doctor-pictures {
    margin-top: 20px;

    >div {
      cursor: pointer;

       * {
        pointer-events: none;
       }
    }
  }

  .image-row {
      align-items: center;
      display: flex;
      justify-content: center;
      //padding-bottom: 200px;
      text-align: center;

      @include flex-col-layout();

      >div {
        margin: 10px 20px;
        max-width: 376px;
        position: relative;

        &:hover {
          
          .info {
            opacity: 1;
          }
        }
      }

      .info {
        background: rgba(255,178,50,0.6) no-repeat scroll 0 0;
        cursor: pointer;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: opacity .5s ease-out;

        h3, p {
          color: $color-white;
          margin: 0;
        }

        h3 {
          font-size: 2em;
          margin-top: 120px;
        }

        i {
          color: $color-white;
          font-size: 2em;
          position: absolute;
          bottom: 30px;
          right: 30px;
        }
      }
    }
}

