/* STRUCTURE */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  color: $color-black;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

  &.menu-open {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
    color:$color-dark-blue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: $header-margin;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line-height;
  text-transform: uppercase;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-size;
}

h4 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $color-medium-blue;

  &:hover {
    color: $color-dark-blue;
  }
}

/* Header styles */

header {
    align-items: center;
    clear: both;
    display: flex; 
    height: 100px;
    justify-content: space-between;
    position: absolute;
    width: 100%;

    @media screen and (max-width: $lg-breakpoint) {
       background: $color-white;
       height: 70px;
       position: fixed;
       z-index: 100;
    }

    @include flex-col-layout;

    .logo {
        margin: 10px 0 0 50px;
        z-index: 3;

        img {
          width: 100%;
        }

        @media screen and (max-width: $lg-breakpoint) {
          margin: 0;
          position: absolute;
          left: 10px;
          width: 250px;
        } 
    }

    /* mobile menu styles */

    .toggle-wrapper {
      display: flex;
      flex-direction: column;
      width: 22px;
      height: 26px;
      position: fixed;
      top: 10px;
      right: 30px;
      z-index: 5;

      p {
        font-size: 0.6em;
        margin: 24px 0 0;
      }

      @media screen and (min-width: $lg-breakpoint) {
        display: none;
      }      
    }

    .menu-toggle {
      cursor: pointer;

      .bg {
        display: block;
        width: 100%;
        height: 22px;
        position: absolute;
        
      }

      .bar {
        background: $color-medium-blue;
        display: block;
        height: 2px;
        position: absolute;
        width: 30px;
        top: 10%;

        &:nth-child(2){
          top: 50%;
        }
        &:nth-child(3){
          top: 90%;
        }
      }

      &.active {

        p {
          color: $color-dark-blue;
        }

        .bar {
          transition: $menu-transition;
          
          &:first-child {
            background: $color-dark-blue;
            transform: rotate(-45deg);
            top: 50%;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            background: $color-dark-blue;
            transform: rotate(45deg);
            top: 50%;
          }
        }
      }

      &.inactive {

        .bar {
          background: $color-black;
          transition: $menu-transition;
          
          &:first-child {
            background: $color-black;
            transform: rotate(0);
            top: 20%;
          }

          &:nth-child(2) {
            opacity: 1;
          }

          &:nth-child(3) {
            background: $color-black;
            transform: rotate(0);
            top: 80%;
          }
        }
      }
    }

}

.main-menu {
  z-index: 3;

  .top-ctas {
    display: flex;
    position: absolute;
    right: 20px;
    top: 10px;

    @media screen and (max-width: $lg-breakpoint){
      display: none;
    }

    .fa-phone {
      margin-right: 3px;
    }

    .phone {
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      padding: 12px;

      @media screen and (max-width: $lg-breakpoint){
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        color: white;
      }
    }

    @media screen and (max-width: $md-breakpoint){
      top: 182px;
    }
  }
  
  .nav {
    align-items: center;
    display: flex;
    font-size: $nav-text-size;
    font-weight: 700;
    justify-content: center;
    margin-top: 60px;
    padding: 0;
    text-align: right;

    @media screen and (max-width: $lg-breakpoint){
      align-items: flex-end;
      background: $color-white;
      left: 0;
      top: 0;
      display: none;
      height: 100vh;
      justify-content: flex-start;
      position: fixed;
      width: 100%;
    }

    @include flex-col-layout;

    a {
        align-items: center;
        color: $color-black;
        display: flex;
        justify-content: center;
        margin-right: 20px;
        min-height: 30px;
        padding: 15px 0;
        text-align: left;
        text-decoration: none;

        &:focus {
          outline: none;
        }

        @media screen and (max-width: $xl-breakpoint){
          //margin-right: 10px;
          text-align: center;

          /*&:after {
            background: black;
            content:'';
            display: block;
            height: 30px;
            margin-left: 5px;
            width: 1px;
          }*/
        }

        @media screen and (max-width: $lg-breakpoint){
          align-items: center;
          background: $color-dark-blue;
          border-bottom: 1px solid $color-white;
          color: $color-white;
          font-size: 1.2em;
          justify-content: center;
          text-align: center;
          width: 100%;

          &:after {
            height: 30px;
          }

          &:hover {
            color: $color-dark-blue;
            background: $color-light-blue;
          }

        }

        @media screen and (max-width: $md-breakpoint){
          &:after {
            display: none;
          }
        }

        &:hover {
          transition:.5s;
          color: $color-dark-blue;
        }
    }
  }
}

button {
    background:$color-medium-blue;
    border-radius: 250px;
    border: 0;
    color:$color-white;
    font-size: 16px;
    height:45px;
    text-align: center;
    width:175px;

    &.yellow {
        background: $color-yellow;

        &:focus {
          outline: none;
        }
    }
}

p {
    margin: $paragraph-margin;
    line-height: $pargraph-line-height;
    width: 100%;

     /*@media screen and (max-width: $md-breakpoint){
        width: 90%;
      }*/
}

.slick-dots li button {
    
    &:before {
      color: $color-white !important; 
    }
}

.main-content {
    text-align: center;
}

section {
    margin: 0 auto;
}

/* Footer Styles*/

footer{
  background: $color-dark-blue!important;
  clear: both;
  color:$color-white;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 60px;

  @include flex-col-layout($md-breakpoint);

  >div {
    // /border: 1px solid $color-white;
    width: 20%;

    @include mobile-full-width;

    &:first-child {
        display: flex;
        width: 40%;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;

        @include mobile-full-width;
    }

    &:last-child {
        
        .fab {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    a {
        color: $color-white;
        text-decoration: none;

        &:hover{
          color: $color-light-blue;
        }
    }
  }

  h3 {
    color: $color-white;
    font-size: 1.5em;
    margin: 40px auto 10px;
  }

  @media screen and (max-width: 700px){
    text-align: center;
  }
}

.mobile-contact {
    align-items: center;
    background: $color-yellow;
    color: white;
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    padding: 2px 0 14px;
    text-transform: uppercase;
    width: 100%;

    a {
      color: $color-white;
    }

    @media screen and (min-width: $lg-breakpoint){
      display: none;
    }
  }

