/* STRUCTURE */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  color: $color-black;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

  &.menu-open {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
    color:$color-dark-blue;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: $header-margin;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line-height;
  text-transform: uppercase;
}

h2 {
  font-size: $h2-size;
  line-height: 24px;
}

/* Header styles */

header {
    align-items: center;
    clear: both;
    display: flex; 
    height: 100px;
    justify-content: space-between;
    position: absolute;
    width: 100%;

    @include flex-col-layout;

    .logo {
        margin-left: 50px;
        z-index: 20;

        @media screen and (max-width: $lg-breakpoint) {
          margin: 5px 0 0 0;
        } 
    }

    /* mobile menu styles */

    .toggle-wrapper {
      display: flex;
      flex-direction: column;
      width: 30px;
      height: 26px;
      position: fixed;
      top: 10px;
      left: 30px;
      z-index: 5;

      p {
        font-size: 0.7em;
        margin: 32px 0 0 -1px;
      }

      @media screen and (min-width: $lg-breakpoint) {
        display: none;
      }      
    }

    .menu-toggle {
      cursor: pointer;

      .bg {
        display: block;
        width: 100%;
        height: 30px;
        position: absolute;
        
      }

      .bar {
        background: $color-medium-blue;
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
        top: 10%;

        &:nth-child(2){
          top: 50%;
        }
        &:nth-child(3){
          top: 90%;
        }
      }

      &.active {

        p {
          color: $color-white;
        }

        .bar {
          transition: $menu-transition;
          
          &:first-child {
            background: $color-white;
            transform: rotate(-45deg);
            top: 50%;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            background: $color-white;
            transform: rotate(45deg);
            top: 50%;
          }
        }
      }

      &.inactive {

        .bar {
          background: $color-black;
          transition: $menu-transition;
          
          &:first-child {
            background: $color-black;
            transform: rotate(0);
            top: 20%;
          }

          &:nth-child(2) {
            opacity: 1;
          }

          &:nth-child(3) {
            background: $color-black;
            transform: rotate(0);
            top: 80%;
          }
        }
      }
    }

}

nav.main-menu {
    background: $color-medium-blue;
    align-items: center;
    display: flex;
    font-size: $nav-text-size;
    font-weight: 700;
    justify-content: center;
    text-align: right;
    width: 100%;
    height: 100vh;
    z-index: 3;
    transition: all .3s linear;

    @media screen and (max-width: $lg-breakpoint){
      position: fixed;
      padding-top: 80px;
      align-items: flex-end;
      justify-content: flex-start;
      max-height: 0;
      opacity: 0;
    }

    @include flex-col-layout;

    &.active {
      max-height: 100%;
      opacity: 1;
    }

    &.inactive {
      max-height: 0px;
      
      @media screen and (max-width: $lg-breakpoint){
        opacity: 0;
      }
    }

    a {
        color: $color-black;
        display: flex;
        margin-right: 20px;
        text-decoration: none;
        text-align: left;
        padding: 30px 0;

        @media screen and (max-width: $lg-breakpoint){
          background: $color-dark-blue;
          border-bottom: 1px solid $color-white;
          color: $color-white;
          font-size: 1.2em;
          margin: 0;
          align-items: center;
          justify-content: center;
          text-align: center;
          width: 100%;

          &:hover {
            color: $color-dark-blue;
            background: $color-light-blue;
          }

        }

        &:hover {
          transition:.5s;
          color: $color-dark-blue;
        }
    }
}

button {
    background:$color-medium-blue;
    border-radius: 250px;
    color:$color-white;
    font-size: 16px;
    height:45px;
    text-align: center;
    width:175px;

    &.yellow {
        background: $color-yellow;
    }
}

p {
    margin: $paragraph-margin;
    line-height: $pargraph-line-height;
    width: 100%;

     @media screen and (max-width: $md-breakpoint){
        width: 90%;
      }
}

.slick-dots li button {
    
    &:before {
      color: $color-white !important; 
    }
}

.main-content {
    text-align: center;
}

section {
    margin: 0 auto;
}

/* Footer Styles*/

footer{
  color:$color-white;
  background: $color-dark-blue!important;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 60px;

  @include flex-col-layout($md-breakpoint);

  >div {
    // /border: 1px solid $color-white;
    width: 20%;

    @include mobile-full-width;

    &:first-child {
        display: flex;
        width: 40%;
        flex-direction: column;
        padding-top: 30px;
        align-items: center;

        @include mobile-full-width;
    }

    &:last-child {
        
        .fab {
            font-size: 18px;
            margin-right: 10px;
        }
    }

    a {
        color: $color-white;
        text-decoration: none;
    }
  }

  h3 {
    color: $color-white;
    font-size: 1.5em;
    margin: 40px auto 10px;
  }

  @media screen and (max-width: 700px){
    text-align: center;
  }
}

