// Breakpoints

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;


/* COLORS */

$color-white:#ffffff;
$color-grey:#c2cacd;
$color-light-blue:#a9e8f9;
$color-medium-blue: #428ade;
$color-dark-blue: #214ab3;
$color-black: #3a3a3a;
$color-yellow: #ffb232;

/* SIZES */

$hero-height: 700px;
$nav-text-size: 16px;
$paragraph-margin: 10px auto;
$pargraph-line-height: 24px;
$content-max-width: 1100px;
$header-margin: 40px auto;

/* MENU */

$menu-transition: all .3s ease-out;